# Python
__pycache__/
*.py[cod]
*.sqlite3
env/
venv/
.venv/
*.egg-info/

# VS Code / PyCharm / etc.
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Django static & media (collected/served elsewhere)
staticfiles/
media/

# Secrets
.env
