{% extends "base.html" %}
{% block content %}
<h2>Your Chats</h2>
<a href="{% url 'create_chat' %}" class="btn btn-success mb-3">+ Create New Chat</a>
<ul class="list-group">
    {% for chat, other_user, unread_count in chats_with_other %}
  <div class="chat-item">
    <a href="{% url 'chat_detail' chat.id %}">
      {% if chat.is_group %}
        {{ chat.name }}
      {% else %}
        {{ other_user.username }}
      {% endif %}
      {% if unread_count > 0 %}
        <span class="unread-badge">{{ unread_count }}</span>
      {% endif %}
    </a>
  </div>
{% endfor %}

</ul>

{% endblock %}
